* {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

body {
	margin: 0;
}

:root {
	--bar-w: 30px;
	--bar-h: 6px;
	--bar-margin-t: 0.15em;
}

*::selection {
	background-color: palegreen;
}
img {
	max-width: 100%;
	border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

hr {
	border-style: groove;
}

.btn, .search-input {
	border-width: 2px;
	border-radius: 5px;
	background-color: lightcyan;
	font-weight: bold;
	font-size: calc(1rem-0.1vw);
	padding: 0.3em;
}

.app {
	width: 95%;
	max-width: 1250px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2vw;

	font-weight: bold;
}

.nav-list {
	display: flex;
	gap: 2.1em;
	align-items: center;
	list-style: none;
}

.company-logo {
	width: 70px;
}

.cart-logo {
	width: 40px;
}

.nav-link a {
	text-decoration: none;
	color: black;
}

.hamburger {
	position: absolute;
	right: 0.5em;
	top: 1em;
	display: none;
}

.bar {
	background-color: black;
	width: var(--bar-w);
	height: var(--bar-h);
	margin-bottom: var(--bar-margin-t);

	border-radius: 15px;
}

.res-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.card {
	font-size: calc(0.9rem + 0.2vw);
	cursor: pointer;
	text-align: center;
	width: 23%;
	padding: 0.2em;
	margin-bottom: 40px;
	margin-left: 2%;
	line-height: 1.4;
	background-color: #f0f0f0;
	border-radius: 10px;
	text-decoration: none;
	color: black;
}

.user-card {
	border: 2px solid black;
	margin: 0 1em;
	padding: 1em;
	display: inline-block;
}

.card:hover {
	padding: 0.7vw;
}

.filter {
	margin: 1em 0;
	padding: 0.5em;
	cursor: pointer;
}

.Shimmer {
	width: 22%;
	height: 200px;
	background-color: #f0f0f0;
	margin: 1em;
}

.Shimmer-parent {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.Shimmer-button {
	width: 130px;
	height: 2rem;
	background-color: #f0f0f0;
}

.search-input {
	background: whitesmoke;
}

.feature-container {
	display: flex;
	align-items: center;
	gap: 1em;
}

.Restaurant-menu {
	width: 70%;
	margin: 0 auto;
}

.info-card {
	margin-bottom: 1em;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.rating span:nth-child(1) {
	color: #3d9b6d;
}

.rating {
	text-align: center;
	border: 1px solid #e9e9eb;
	padding: 0.5em;
}
.Restaurant-menu .info-card .info h2,
h3 {
	font-weight: 300;
}

.Restaurant-menu .menu-card ul {
	padding: 0;
}
.RestaurantTimeCost_icon__8UdT4 {
	vertical-align: middle;
	margin-right: 10px;
}

.Restaurant-menu .menu-card ul li {
	list-style-type: square;
	list-style-position: inside;
}

.sla-cost {
	font-weight: bold;
	margin: 1em 0;
}
span + span {
	margin-left: 1em;
}

@media (max-width: 480px) {
	.card,
	.header {
		font-size: calc(1rem - 0.4vh);
	}
	.card{
		width:31%;
	}
	.btn {
		font-size: calc(1rem-0.1vh);
	}

	.hamburger {
		display: block;
	}
	.nav-list,
	.header {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	.nav-link {
		text-align: center;
		width: 100vw;
	}
	.logo-container {
		align-self: flex-start;
	}
	.nav-items {
		margin-top: calc(1em + var(--bar-h) + var(--bar-margin-t) + var(--bar-w));
		display: none;
	}
}
.active {
	display: block;
	margin: 0;
}
